<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.makeronly.rbac.repo.UserGroupMapper">
    <select id="get" parameterType="Long" resultType="UserGroup">
        SELECT id,name FROM user_group WHERE id=#{vale}
    </select>
    <insert id="save" parameterType="UserGroup">
        INSERT INTO user_group(id,name) VALUES (#{id,jdbcType=BIGINT},#{name,jdbcType=VARCHAR})
    </insert>
    <delete id="delete" parameterType="Long">
        DELETE FROM user_group WHERE id=#{value}
    </delete>
    <update id="update" parameterType="UserGroup">
        UPDATE user_group SET name=#{name,jdbcType=VARCHAR} WHERE id=#{id,jdbcType=BIGINT}
    </update>
</mapper>